#### PRELIMINARIES

First we import the libraries we will need, and the data.

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import seaborn as sns
import statsmodels.stats.power as sms
import math

%matplotlib inline

In [2]:
data = pd.read_csv('Table2_Hunt_2013_edit.csv')

In [3]:
data.head()

,Gross pay,Phi-h,Position,Pressure,Random 1,Random 2,Gross pay transform,Production
0,0.1,0.5,2.1,19,5,379,3.54,15.10
1,1.0,4.0,1.1,16,13,269,5.79,21.30
2,1.9,19.0,1.0,14,12,245,8.51,22.75
3,3.1,21.7,2.1,17,6,273,11.52,15.72
4,4.1,24.6,2.9,11,10,237,10.16,7.71

In [4]:
data['Gross pay'].corr(data['Production'], method = 'spearman')

0.8688311688311688

In [5]:
powerGP= sms.tt_solve_power(effect_size = 0.87, nobs = 21, alpha = 0.05,  alternative = "two-sided")
print (powerGP)

0.9663037700129194

In [6]:
data['Random 1'].corr(data['Production'], method = 'spearman')

0.11730280626534337

In [7]:
powerR1= sms.tt_solve_power(effect_size = 0.12, nobs = 21, alpha = 0.05,  alternative = "two-sided")
print (powerR1)

0.08199799231853767

### Test of using the function to calculate minimum number of wells to get confidence interval of a specific width

def confInt(r, nwells):
    z_crit = sp.stats.norm.ppf(.9) # notice change of confidence level
    std_Z = 1/np.sqrt(nwells-3)
    E = z_crit*std_Z
    Z_star = 0.5*(np.log((1+r)/(1.0000000000001-r)))
    ZCI_l = Z_star - E
    ZCI_u = Z_star + E
    RCI_l = (np.exp(2*ZCI_l)-1)/(np.exp(2*ZCI_l)+1)
    RCI_u = (np.exp(2*ZCI_u)-1)/(np.exp(2*ZCI_u)+1)
    return RCI_u, RCI_l

np.set_printoptions(precision=2)
w = np.arange(6, 150, 1)
cm_r06= confInt(0.6, w) 
print (cm_r06)

cm_r06[0]-cm_r06[1]

idx = np.argmax((cm_r06[0]-cm_r06[1])<=0.2)
cmin = w[idx]
print (idx, cmin)