## Variable selection 6: mutual information

This notebook goes with the blog post: Variable selection in Python, part II.

### Preliminaries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_selection import mutual_info_regression

### Data loading, dropping production

In [2]:
data = pd.read_csv('../data/Table2_Hunt_2013_edit.csv')

In [3]:
data = data.loc[:, ['Production', 'Position', 'Gross pay', 'Phi-h', 'Pressure', 'Random 1', 'Random 2', 'Gross pay transform']]
data.head()

,Production,Position,Gross pay,Phi-h,Pressure,Random 1,Random 2,Gross pay transform
0,15.10,2.1,0.1,0.5,19,5,379,3.54
1,21.30,1.1,1.0,4.0,16,13,269,5.79
2,22.75,1.0,1.9,19.0,14,12,245,8.51
3,15.72,2.1,3.1,21.7,17,6,273,11.52
4,7.71,2.9,4.1,24.6,11,10,237,10.16

### Mutual information

A good explanation of .....

In [4]:
X, y = data.drop('Production',axis=1), data['Production']

In [5]:
mi = mutual_info_regression(X, y)
mi /= np.amax(mi) 
idx = np.argsort(mi)[::-1]

In [6]:
mi_df = pd.DataFrame()
mi_df["mutual information"] = [mi[idx[f]] for f in range(X.shape[1])]
mi_df["features"] = [X.columns[idx[f]] for f in range(X.shape[1])]

In [7]:
mi_df.round(2)

   mutual information             features
0                1.00            Gross pay
1                0.85                Phi-h
2                0.60  Gross pay transform
3                0.25             Position
4                0.16             Random 2
5                0.00             Random 1
6                0.00             Pressure